.mainMiddle .post{
	width:450px;
	background-color:white;
	padding:10px 20px;
	margin:auto;
	margin-top:20px;
	border-radius:5px;
	box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
}

.mainMiddle .post .text{
	display:flex;
	align-items:center;
}
.mainMiddle .post .text .image{
	width:40px;
	height:40px;
	background-color:rgba(140,140,140,1);
	border-radius:50%;
	padding:3px 0 0 3px;
	margin-right:10px;
	overflow:hidden;
}
.mainMiddle .post .text .image img{
	background:white;
	width:40px;
	height:40px;
	position:relative;
	bottom:3px;
	right:3px;
}
.mainMiddle .post .text input{
	width:80%;
	height:40px;
	border-radius:18px;
	border:0;
	background:rgba(80,80,100,0.15);
	padding-left:10px;
	font-size:17px;
}


.mainMiddle .post .photo{
	display:flex;
	align-items:center;
	width:190px;
	margin:auto;
	justify-content:center;
	padding:5px 0;
	border-radius:6px;
}
.mainMiddle .post .photo span{
	margin-left:10px;
	font-size:19px;
	color:gray;
}
.mainMiddle .post .photo:hover{
	background:rgba(0,0,0,0.1);
	cursor:pointer;
}

.mainMiddle .post .line{
	height:0px;
	border:1px rgba(0,0,0,0.3) solid;
	margin:8px 0;
}



.mainMiddle .addFriends{
	width:450px;
	background-color:white;
	padding:10px 20px;
	margin: auto;
	border-radius:5px;
	margin-top:10px;
	box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
	display:flex;
	flex-direction:column;
	align-items:center;
	color:gray;
}




.mainMiddle .feed {
	width:450px;
	margin:auto;
	margin-top:10px;
}

.mainMiddle .feedItem {
	padding:10px 18px;
	background:white;
	box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
	border-radius:5px;
	margin-bottom:11px;
}
.mainMiddle .feedItem .feedHeading {
	display:flex;
	align-items:center;
}
.mainMiddle .feedItem .smallPhoto {
	background:rgba(140,140,140,1);
	border-radius:50%;
	height:34px;
	width:34px;
	padding:5px;
	margin-right:6px;
	overflow:hidden;
}
.mainMiddle .feedItem .smallPhoto img{
	width:34px;
	height:34px;
	position:relative;
	background:white;
	bottom:5px;
	right:5px;
}
.mainMiddle .feedItem .info {
}
.mainMiddle .feedItem span {
	font-weight:600;
	font-size:17px;
}
.mainMiddle .feedItem .date{
	color:gray;
	font-size:14px;
	font-weight:600;
}
.mainMiddle .feedItem .feedContent{
	margin:auto;
}
.mainMiddle .feedItem .feedContent img{
	display:block;
	width:100%;
	
}

.mainMiddle .feedItem .stats {
	display:flex;
}
.mainMiddle .feedItem .stats .images {
	display:flex;
	width:40px;
	align-items:center;
}
.mainMiddle .feedItem .stats .thumb {
	height:30px;
	width:30px;
	background:blue;
	border-radius:50%;
	padding:5px;
	transform:scale(0.6,0.6);
}
.mainMiddle .feedItem .stats .heart{
	height:30px;
	width:30px;
	background:rgb(200,10,30);
	border-radius:50%;
	padding:5px;
	transform:scale(0.6,0.6);
	position:relative;
	left:-12px;
} 
.mainMiddle .feedItem .stats span{
	position:relative;
	left:-14px;
	font-weight:400;
	font-size:14px;
	color:rgb(100,100,100);
}


.mainMiddle .feedItem .interactions {
	display:flex;
	justify-content:space-around;
	margin-top:10px;
}
.mainMiddle .feedItem .interactions .interaction {
	display:flex;
}
.mainMiddle .feedItem .interactions .image {
	margin-right:4px;
}
.mainMiddle .feedItem .interactions .interactionActivity{
	color:rgb(100,100,100);
	font-weight:500;
}

@media only screen and (max-width:750px) {
	.mainMiddle .post{
		width:400px;
	}
	.mainMiddle .feed{
		width:400px;
	}
	.mainMiddle .addFriends{
		width:400px;
	}
}
@media only screen and (max-width:650px) {
	.mainMiddle .post{
		width:350px;
	}
	.mainMiddle .feed{
		width:350px;
	}
	.mainMiddle .addFriends{
		width:350px;
	}
}