.messagePartnersHeader {
	position:fixed;
	right:10px;
	top:60px;
	width:230px;
	height:290px;
	background:white;
	border-radius:7px;
	box-shadow:1px 1px 3px 1px gray;
	padding:10px;
	z-index:1;
	overflow:auto;
	
}
.messagePartnersHeader .title{
	font-size:19px;
	font-weight:500;
	margin-bottom:20px;
}
.messagePartnersHeader .messagePartnersItem{
	display:flex;
	margin-bottom:8px;
	padding:5px;
	border-radius:4px;
}
.messagePartnersHeader .messagePartnersItem:hover{
	cursor:pointer;
	background:linear-gradient(to right, rgb(220,220,200),rgb(150,150,200));
}
.messagePartnersHeader .image{
	background:rgb(170,170,230);
	width:23px;
	height:23px;
	border-radius:50%;
	padding:2px;
	overflow:hidden;
}
.messagePartnersHeader .image img{
	background:white;
	height:23px;
	width:23px;
	position:relative;
	bottom:2px;
	right:2px;
}
.messagePartnersHeader .name{
	margin-left:5px;
}