#profile{
	width:100vw;
	height:100vh;
	background:white;
}
#profile input[type="file"]{
	display:none;
}
#profile .square{
	width:900px;
	height:350px;
	margin:auto;
	border-radius:10px;
	position:relative;
	top:50px;
	background:linear-gradient(rgb(240,240,250) 80%,rgb(130,130,150));
	display:block;
	cursor:pointer;
}
#profile .personImage{
	position:relative;
	top:80%;
	width:180px;
	height:180px;
	border-radius:50%;
	background:rgb(210,210,240);
	box-shadow:gray 0px 0px 1px 1px,white 0px 0px 1px 4px;
	left:40px;
}
#profile .personImage img{
	height:100%;
	width:100%;
	position:relative;
	bottom:calc(100% + 39px);
	background:white;
	border-radius:50%;
}
#profile .camera{
	height:35px;
	width:35px;
	padding:6px;
	background:rgb(220,220,200);
	border-radius:50%;
	position:relative;
	bottom:47px;
	left:130px;
	z-index:1;
}
#profile .dodajte{
	background:white;
	width:260px;
	display:flex;
	position:relative;
	border-radius:5px;
	left:70%;
	top:30%;
	padding:7px;
}
#profile .dodajte span {
	margin-left:5px;
	font-weight:500;
}
#profile .submit{
	background:rgba(0,0,100,.8);
	border-radius:7px;
	padding:7px;
	width:110px;
	position:absolute;
	top:200px;
	left:30px;
	color:white;
	font-size:17px;
	font-weight:500;
	cursor:pointer;
}
#profile .submit:hover{
	background:blue;
}
#profile .boxCover{
	height:250px;
}
#profile .savedProfileImage{
	position:absolute;
	width:500px;
	height:250px;
	background:white;
	top:60px;
	left:calc(50% - 250px);
	border-radius:10px;
}
#profile .savedProfileImage img{
	width:100%;
	height:100%;
}
#profile .personImage #ime,#profile .personImage #prezime{
	position:absolute;
	top:100px;
	left:200px;
	font-size:39px;
	font-weight:600;
	line-height:39px;
}
#profile .personImage #prezime{
	top:140px;
}


#profile .header{
	top:10px;
}
#profile .message{
	z-index:2;
}