.mainRegister{
	width:430px;
	margin:auto;
	font-family:'Segoe UI';
	background-color:white;
	border-radius:5px;
	box-shadow:0px 2px 5px 4px rgba(0,0,0,0.15);
	height:740px;
	overflow:hidden;
}
.RegisterFirst h1{
	font-size:28px;
	margin-bottom:0;
	text-align:center;
}
.RegisterFirst p{
	margin-top:10px;
	color:rgba(0,0,0,0.5);
	text-align:center;
}
.RegisterFirst div{
	border-top:rgba(0,0,0,0.5) solid 1px;
	margin:5px 0;
}


.mainRegister form{
	width:90%;
	margin:auto;
}


.RegisterSecond{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-top:10px;
}
.RegisterSecond p{
	padding-bottom:8px;
	margin:0;
	color:red;
}
.RegisterSecond input{
	width:100%;
	font-size:17px;
	padding:8px;
	border-radius:4px;
	border:1px solid rgba(0,0,0,0.5);
	margin-bottom:8px;
}
.RegisterSecond input:nth-child(1), .RegisterSecond input:nth-child(2){
	width:48%;
}

.RegisterThird .Info{
	
}
.RegisterThird .Info span{
	color:rgba(0,0,0,0.8);
	font-size:14px;
}
.RegisterThird .message1{
	display:inline-block;
	font-size:14px;
	padding:3px;
	border:1px solid rgba(0,0,0,0.7);
	width:44%;
	text-align:center;
	position:relative;
	top:35px;
	visibility:hidden;
	z-index:2;
	background:white;
}
.RegisterThird .message2{
	background-color:rgba(240,240,250,1);
	box-shadow:-1px -1px 1px 1px rgba(0,0,0,0.4);
	position:relative;
	right:92%;
	bottom:30px;
	padding:5px;
	border-radius:4px;
	z-index:2;
}
.RegisterThird .message2 span{
	font-size:14px;
}
.RegisterThird .message2 .bolded{
	font-size:14px;
	font-weight:700;
}


.dateInfo{
	display:flex;
	justify-content:space-between;
	position:relative;
	bottom:70px;
}
.pickContainer{
	width:30%;
	position:relative;
	bottom:5px;
}
.chosenValue{
	display:flex;
	padding:5px;
	border-radius:5px;
	border:1px rgba(0,0,0,0.2) solid;
	cursor:pointer;
	margin:5px 0;
	justify-content:space-between;
}
.optionsContainer{
	position:relative;
	border:1px solid gray;
	box-shadow:1px 2px 4px 1px gray;
	border-radius:7px;
	height:300px;
	overflow-y:scroll;
	z-index:2;
	background:white;
}
.option{
	padding:3px 8px;
	
}
.option:hover{
	background:rgba(0,0,0,0.3);
}



.Info:nth-of-type(3){
	position:relative;
	bottom:370px;
}
.spol{
	position:relative;
	display:flex;
	bottom:435px;
	justify-content:space-between;
}
.spol .spolOption{
	display:flex;
	padding:5px;
	border-radius:5px;
	border:1px rgba(0,0,0,0.2) solid;
	cursor:pointer;
	min-width:25%;
	justify-content:space-between;
}
.spol .spolOption label{
	margin-right:20px;
	cursor:pointer;
}
.spol .spolOption input{
	cursor:pointer;
}

#advanced{
	position:relative;
	bottom:420px;
	height:90px;
}
#advanced #odaberite{
	display:flex;
	align-items:center;
	justify-content:space-between;
	border:rgba(0,0,0,0.4) solid 1px;
	border-radius:5px;
	
}
#advanced #odaberite p{
	margin:0;
	padding:7px 10px;
	cursor:context-menu;
}
#advanced #pozelite{
	border:solid rgba(0,0,0,0.6) 1px;
	background:white;
	visibility:hidden;
	position:relative;
	z-index:1;
}
#advanced #pozelite p{
	margin:0;
	padding:3px 5px;
	cursor:context-menu;
}
#advanced #pozelite p:hover{
	background:rgb(50,50,200);
	color:white;
}
#svi{
	position:relative;
	bottom:80px;
	color:rgba(0,0,0,0.6);
	font-size:14px;
}
#spolCustom{
	position:relative;
	bottom:75px;
	font-size:16px;
	padding:7px;
	width:100%;
	border-radius:5px;
	border:1px rgba(0,0,0,0.4) solid;
}

.mainRegister .pravila{
	position:relative;
	bottom:410px;
	text-align:justify;
	color:rgba(0,0,0,0.8);
	font-size:13px;
}
.mainRegister .pravila span{
	font-weight:800;
}
.mainRegister button{
	position:relative;
	bottom:400px;
	margin:auto;
	display:block;
	margin-top:10px;
	font-size:21px;
	font-weight:700;
	padding:8px 25px;
	color:white;
	background-color:rgba(30,170,30,1);
	border:none;
	border-radius:6px;
}
.mainRegister button:hover{
	background:linear-gradient(to bottom, rgba(30,170,30,0.6), rgba(30,100,30,0.9));
	cursor:pointer;
}
